/project/Debug/*.pdb
/project/Debug/*.ilk
/project/Debug/*.lnk
/project/business/*.DS_Store
/project/business/Debug/*.obj
/project/business/Debug/*.idb
/project/business/Debug/*.log
/project/business/Debug/*.pdb
/project/business/Debug/business.tlog/*.tlog
/project/business/Debug/business.tlog/*.lastbuildstate
/project/business/business/*.DS_Store
/project/libevent/Debug/*.obj
/project/libevent/Debug/*.idb
/project/libevent/Debug/*.log
/project/libevent/Debug/*.pdb
/project/libevent/Debug/libevent.tlog/*.tlog
/project/libevent/Debug/libevent.tlog/*.lastbuildstate
/project/libevent/Debug/libevent_core.tlog/*.tlog
/project/libevent/Debug/libevent_core.tlog/*.lastbuildstate
/project/libevent/Debug/libevent_extras.tlog/*.tlog
/project/libevent/Debug/libevent_extras.tlog/*.lastbuildstate
/project/libeventClient/Debug/*.obj
/project/libeventClient/Debug/*.log
/project/libeventClient/Debug/libeventClient.tlog/*.tlog
/project/libeventClient/Debug/libeventClient.tlog/*.lastbuildstate
/project/libeventClient/Debug/*.idb
/project/libeventClient/Debug/*.pdb
/project/libeventClient/*.txt
/project/libeventClient/*.user
/project/libeventServer/Debug/*.obj
/project/libeventServer/Debug/*.log
/project/libeventServer/Debug/libeventServer.tlog/*.tlog
/project/libeventServer/Debug/libeventServer.tlog/*.lastbuildstate
/project/libeventServer/Debug/*.idb
/project/libeventServer/Debug/*.pdb
/project/libeventServer/*.user
/project/nanomsg_bus/Debug/*.log
/project/nanomsg_bus/Debug/*.obj
/project/nanomsg_bus/Debug/nanomsg_bus.tlog/*.tlog
/project/nanomsg_bus/Debug/nanomsg_bus.tlog/*.lastbuildstate
/project/nanomsg_bus/Debug/*.idb
/project/nanomsg_bus/Debug/*.pdb
/project/nanomsg_ipc/Debug/*.obj
/project/nanomsg_ipc/Debug/*.log
/project/nanomsg_ipc/Debug/nanomsg_ipc.tlog/*.tlog
/project/nanomsg_ipc/Debug/nanomsg_ipc.tlog/*.lastbuildstate
/project/nanomsg_ipc/Debug/*.idb
/project/nanomsg_ipc/Debug/*.pdb
/project/nanomsg_pub/Debug/*.obj
/project/nanomsg_pub/Debug/*.log
/project/nanomsg_pub/Debug/nanomsg_pub.tlog/*.tlog
/project/nanomsg_pub/Debug/nanomsg_pub.tlog/*.lastbuildstate
/project/nanomsg_pub/Debug/*.idb
/project/nanomsg_pub/Debug/*.pdb
/project/nanomsg_pub/*.user
/project/nanomsg_pub/nanomsg_pub/*.DS_Store
/project/nanomsg_rep/Debug/*.log
/project/nanomsg_rep/Debug/*.obj
/project/nanomsg_rep/Debug/nanomsg_rep.tlog/*.tlog
/project/nanomsg_rep/Debug/nanomsg_rep.tlog/*.lastbuildstate
/project/nanomsg_rep/Debug/*.idb
/project/nanomsg_rep/Debug/*.pdb
/project/nanomsg_req/Debug/*.log
/project/nanomsg_req/Debug/*.obj
/project/nanomsg_req/Debug/nanomsg_req.tlog/*.tlog
/project/nanomsg_req/Debug/nanomsg_req.tlog/*.lastbuildstate
/project/nanomsg_req/Debug/*.idb
/project/nanomsg_req/Debug/*.pdb
/project/nanomsg_sub/Debug/*.obj
/project/nanomsg_sub/Debug/*.log
/project/nanomsg_sub/Debug/nanomsg_sub.tlog/*.tlog
/project/nanomsg_sub/Debug/nanomsg_sub.tlog/*.lastbuildstate
/project/nanomsg_sub/Debug/*.idb
/project/nanomsg_sub/Debug/*.pdb
/project/nanomsg_sub/nanomsg_sub/*.DS_Store
/project/*.opendb
/project/*.db
/project/Debug/*.log
/project/GameServer/Debug/*.log
/project/GameServer/Debug/GameServer.tlog/*.tlog
/project/GameServer/Debug/GameServer.tlog/*.lastbuildstate
/project/GameServer/Debug/*.obj
/project/GameServer/Debug/libeventClient.tlog/*.tlog
/project/GameServer/Debug/libeventClient.tlog/*.lastbuildstate
/project/GameServer/Debug/*.idb
/project/GameServer/Debug/*.pdb
/project/GameServer/*.user
/project/GameServer/*.txt
/project/PlatformServer/Debug/*.log
/project/PlatformServer/Debug/*.obj
/project/PlatformServer/Debug/libeventServer.tlog/*.tlog
/project/PlatformServer/Debug/libeventServer.tlog/*.lastbuildstate
/project/PlatformServer/Debug/platformServer.tlog/*.tlog
/project/PlatformServer/Debug/platformServer.tlog/*.lastbuildstate
/project/PlatformServer/Debug/*.idb
/project/PlatformServer/Debug/*.pdb
/project/PlatformServer/*.user
/project/PlatformServer/*.txt
/project/.vs/project/v14/*.suo
